/* Resetting styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #141414; /* Dark background */
    color: #fff;
}

/* Navigation Styling */
#nav-bar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 15px;
    z-index: 100;
}

#nav-bar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#nav-bar ul li {
    margin: 0 15px;
}

#nav-bar ul li a {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s;
}

#nav-bar ul li a:hover {
    background-color: #c59b32; /* Gold */
}

/* Header Section */
header {
    text-align: center;
    background-color: #333;
    padding: 60px 20px;
}

header h1 {
    font-size: 4rem;
    color: #c59b32; /* Gold */
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #561d5e; /* Luxury purple */
    color: #fff;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #c59b32; /* Gold */
}

/* About Section */
#about {
    padding: 50px 20px;
    text-align: center;
}

#about h2 {
    font-size: 2rem;
    color: #c59b32;
}

/* Projects Section */
#projects {
    background-color: #222;
    padding: 50px 20px;
    text-align: center;
}

.project {
    background-color: #333;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.project h3 {
    color: #c59b32; /* Gold */
}

/* Contact Section */
#contact {
    padding: 50px 20px;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form input,
#contact form textarea {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #c59b32;
}

#contact form button {
    padding: 12px 25px;
    background-color: #561d5e; /* Purple */
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

#contact form button:hover {
    background-color: #c59b32; /* Gold */
}

/* Footer Section */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
